<%%= form_for(@<%= singular_table_name %><% if options[:singleton] -%>
, :url => <%= singular_table_name %>_path, :html => { :method => :put, :class => "edit_<%= singular_table_name %>", :id => "edit_<%= singular_table_name %>"}<% end -%>
) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% for attribute in attributes -%>
  <div class="field"><!-- begin - <%= attribute.name %> -->
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </div><!-- end - <%= attribute.name %> -->
<% end -%>
  <div class="actions">
<% if options[:optimistic] && options[:timestamps] -%>
    <%%= f.hidden_field :updated_at %>
<% end -%>
    <%%= f.submit %>
  </div>
<%% end %>
